.contact-page{
    background-color: lightgrey;
    margin-top:35px;
    text-align: center;
    width: 33%;
    border-radius: 5px;
    margin-left: 32%;
    border: 4px solid  rgb(243, 147, 2);
}

.contact-page p{
    margin: 20px;
    padding: 5px;
    font-size: 25px;
    font-family: cursive;
}